
<app-header [username]="'New User'" [mobile]="mobile" (logoClickedEvent)="showOrHideFullscreenHello()">
  <div class="nav-panel">
    <app-left-nav-bar [setNavOptions]="navigationOptions" (navOptionChangedEvent)="onNavOptionClicked($event)"></app-left-nav-bar>
  </div>
</app-header>


<div class="container">
  <router-outlet></router-outlet>
</div>

<app-footer>
  <app-left-nav-bar *ngIf="!mobile" [setNavOptions]="navigationOptions" (navOptionChangedEvent)="onNavOptionClicked($event)"></app-left-nav-bar>
</app-footer>

<ng-template #fullscreen_helloworld [ngIf]="showHello">
  <div [ngStyle]="">
      <div [ngStyle]="{'background-color': 'white', 'border-radius': '5px', 'padding': '10px', 'max-width': '50%'}">
        <p [ngStyle]="{'color': 'red', 'font-size': '36px', 'text-align': 'center'}">Hello world</p>
        <div [ngStyle]="{'display': 'flex', 'align-items': 'center', 'justify-content': 'end', 'margin-bottom': '40px'}">
          <button (click)="onChangedDataView()" class="change-view-btn">{{changeDataViewText}}</button>
        </div>
        <ng-container *ngIf="changeDataView; else cardView">
          <div class="list-container">
            <ng-container *ngFor="let person of people">
              <div *ngIf="person.show" [ngStyle]="{'padding': '0.5em 1em', 'border-bottom': '2px solid black'}">
                <span>ID: {{person.id}}</span>
                <span>    |    </span>
                <span>Name: {{person.name}}</span>
                <span>    |    </span>
                <ng-container [ngSwitch]="person.type">
                  <span *ngSwitchCase="0">Position: Regional Manager</span>
                  <span *ngSwitchCase="1">Position: Assistant Regional Manager</span>
                  <span *ngSwitchCase="2">Position: Sales Representative</span>
                  <span *ngSwitchCase="3">Position: Office Administrator</span>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-template #cardView>
          <div class="card-view">
            <ng-container *ngFor="let person of people">
              <div class="card" *ngIf="person.show">
                <span>ID: {{person.id}}</span>
                <span>Name: {{person.name}}</span>
                <ng-container [ngSwitch]="person.type">
                  <span *ngSwitchCase="0">Position: Regional Manager</span>
                  <span *ngSwitchCase="1">Position: Assistant Regional Manager</span>
                  <span *ngSwitchCase="2">Position: Sales Representative</span>
                  <span *ngSwitchCase="3">Position: Office Administrator</span>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-template>

        <button class="close-btn" (click)="showOrHideFullscreenHello()">Close</button>
      </div>
  </div>
</ng-template>
