@import url('https://fonts.googleapis.com/css2?family=Labrada&family=Merriweather&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Labrada', serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
